---
import { PageTitle } from "@/components/PageTitle.tsx";
import { twMerge } from "tailwind-merge";
import type { Review } from "@/api/reviews";

interface Props {
  review: Pick<
    Review,
    "title" | "originalTitle" | "year" | "countries" | "runtimeMinutes"
  >;
  class?: string;
}

const { review, class: className } = Astro.props;
---

<header class={twMerge("flex flex-col gap-y-4", className)}>
  <PageTitle>{review.title}</PageTitle>
  {
    review.originalTitle && (
      <div class="text-muted">({review.originalTitle})</div>
    )
  }
  <div class="text-muted">
    {review.year}
    <span>|</span>{" "}
    {
      review.countries.reduce((acc, country) => {
        if (acc === null) {
          return <>{country}</>;
        }

        return (
          <>
            {acc}
            <span>&ndash;</span>
            {country}
          </>
        );
      }, null)
    }{" "}
    <span>|</span>
    {review.runtimeMinutes}
    &#x02009;min{" "}
    <span>
      <span>|</span>
      <a href="#credits">More...</a>
    </span>
  </div>
</header>
