---
import { Content } from "@/components/review/Content.tsx";
import { Credits } from "@/components/review/Credits.tsx";
import Header from "@/components/review/Header.astro";
import MoreReviews from "@/components/review/MoreReviews.astro";
import StructuredData from "@/components/review/StructuredData.astro";
import { ViewingHistory } from "@/components/review/ViewingHistory.tsx";
import type { Review } from "@/api/reviews";
import Still from "@/components/Still.astro";
import Poster from "../Poster.astro";
import Chips from "./Chips.astro";

interface Props {
  review: Review;
}

const { review } = Astro.props;
---

<main id="top" class="scroll-margin-top flex flex-col items-center">
  <Header review={review} class="px-pageMargin py-6 text-center desktop:py-8" />
  <Still
    slug={review.slug}
    title={review.title}
    year={review.year}
    width={960}
    height={540}
    class="mb-[5.33px]"
  />
  <div class="h-6 min-h-6 tablet:h-8 tablet:min-h-8"></div>
  <Content review={review} className="items-center px-pageMargin" />
  <div class="spacer-y-20"></div>
  <ViewingHistory review={review} className="w-full max-w-popout" />
  <div class="spacer-y-32"></div>
  <Credits review={review} className="w-full max-w-popout">
    <Poster
      slot="poster"
      slug={review.slug}
      title={review.title}
      year={review.year}
      class="poster-border mx-auto mb-4 mt-0 max-w-poster rounded-lg tablet:mx-0"
      sizes="(min-width: 248px) 248px, 100vw"
      width={248}
      height={372}
    />
    <Chips review={review} />
  </Credits>
  <div class="spacer-y-32"></div>
  <MoreReviews review={review} class="w-full max-w-popout tablet:max-w-full" />
  <div class="spacer-y-32 tablet:spacer-y-0"></div>
  <StructuredData review={review} />
</main>
