---
import { toSentence } from "@/utils";
import Grade from "@/components/Grade.astro";
import RenderedMarkdown from "@/components/RenderedMarkdown.astro";
import Still from "@/components/Still.astro";

interface Props {
  data: {
    imdbId: string;
    sequence: string;
    title: string;
    year: string;
    date: string;
    slug: string;
    grade: string;
    principalCastNames: string[];
    directorNames: string[];
    reviewExcerpt: string;
  };
  eagerLoadImage: boolean;
}

const { data, eagerLoadImage } = Astro.props;
---

<li class="flex even:bg-subtle">
  <article
    class="mx-auto flex flex-col items-center px-pageMargin py-10 desktop:grid desktop:w-full desktop:grid-cols-8"
  >
    <div
      class="col-span-2 mb-6 text-center text-sm font-light uppercase leading-4 tracking-0.75px text-subtle desktop:mb-0 desktop:pb-6 desktop:text-left desktop:leading-8 max:col-span-1 max:self-start"
    >
      {data.date}
    </div>
    <a
      rel="canonical"
      href={`/reviews/${data.slug}/`}
      class="still-border block max-w-prose desktop:col-start-4 desktop:col-end-9 desktop:row-span-2 desktop:row-start-1 desktop:mt-10 desktop:self-start desktop:justify-self-end max:row-start-1 max:mt-0"
    >
      <Still
        title={data.title}
        year={data.year}
        width={512}
        height={288}
        slug={data.slug}
        sizes="(min-width: 512px) 512px, 100vw"
        loading={eagerLoadImage ? "eager" : "lazy"}
        class="h-auto rounded-xl"
      />
    </a>
    <div
      class="flex max-w-lg flex-col items-center pt-4 desktop:col-span-5 desktop:col-start-1 desktop:row-start-2 desktop:items-start desktop:place-self-start desktop:pt-0 max:col-start-2 max:row-start-1"
    >
      <h2 class="text-2.5xl font-bold leading-8">
        <a
          href={`/reviews/${data.slug}/`}
          rel="canonical"
          class="inline-block text-default"
        >
          {data.title}{" "}
          <span
            class="inline-block text-base font-light leading-none text-subtle"
          >
            {data.year}
          </span>
        </a>
      </h2>
      <div class="spacer-y-4"></div>
      <Grade grade={data.grade} height={32} />
      <div class="spacer-y-6"></div>
      <p
        class="text-base font-normal leading-normal tracking-0.25px text-subtle"
      >
        Directed by {toSentence(data.directorNames)}. Starring{" "}
        {toSentence(data.principalCastNames)}.
      </p>
      <div class="spacer-y-6"></div>
      <RenderedMarkdown
        text={data.reviewExcerpt}
        class="self-start text-lg leading-normal tracking-0.3px text-muted"
      />
    </div>
  </article>
</li>
